<div class="card userList m-auto p-5 rounded-lg">
    <div *ngIf="data | async as data; else loading">
        <div class="pagination mb-4">
            <button class="inline-block mr-1 py-1 px-3 text-xs rounded btn-primary" [disabled] = "page <= 1">Prev</button>
            <button class="inline-block ml-1 py-1 px-3 text-xs rounded btn-primary" (click)="next()" [disabled] = "data.total <= page * size">Next</button>
        </div>
        <div class="overflow-auto userArea">

            <div class="flex flex-nowrap mb-4 item" *ngFor="let item of data.items">
                <div class="grow-0 w-12 rounded-full overflow-hidden">
                    <img [src]="imageUrl + item.avatar"/>
                </div>
                <div class="flex-auto w-64 text-left pl-4 flex items-center">
                    {{item.first_name}} {{item.last_name}}
                </div>

            </div>
        </div>

    </div>
    <ng-template #loading>
        Loading
    </ng-template>

</div>
